@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" ;

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #5C3D99;
  --color-secondary: #9F7AEA;
  --color-accent: #1c164c;
  --color-neutral: #E0D9FF;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #9F7AEA;
  --color-secondary: #5C3D99;
  --color-accent: #E0D9FF;
  --color-neutral: #2A2438;
  --color-base-100: #1F1B2E;
  --color-base-200: #171625;
  --color-base-300: #13121E;
}

body {
  font-family: "Roboto Slab", serif;
}

.mySwiper .swiper-slide-active > div {
  /* background-color: #cdb1c2 !important; */
  @apply bg-secondary ;
}
